snippet for "for loop" b
{% for ${1:item} in ${2:collection} %}
$0
{% endfor %}
endsnippet

snippet if "if defined" b
{% if ${1:item} ${2:is defined} %}
$0
{% endif %}
endsnippet

snippet # "commants" b
{# $0 #}
endsnippet

snippet % "" b
{% $0 %}
endsnippet
